<%= form_with(model: resident, local: true) do |form| %>
  <% if resident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

      <ul>
      <% resident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :allergies %>
    <%= form.text_field :allergies %>
  </div>

  <div class="field">
    <%= form.label :medications %>
    <%= form.text_field :medications %>
  </div>

  <div class="field">
    <%= form.label :next_of_kin %>
    <%= form.text_field :next_of_kin, :required => true %>
  </div>

  <div class="field">
    <%= form.label :nok_phone_number %>
    <%= form.text_field :nok_phone_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :shared_room %>
    <%= form.check_box :shared_room %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.select :room_id, select_options(@rooms), include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
