<div class="room-container">
  <p id="notice"><%= notice %></p>
  <h1>Rooms</h1>
    <div class="row">
      <% @rooms.each do |room| %>
        <div class="col-2">
          <div class="room">
            <p>Number: <%= room.number %></>
            <p>Capacity: <%= room.capacity %></><br><br>
            <td><%= link_to 'Show', room %></td>
            <td><%= link_to 'Edit', edit_room_path(room) %></td>
            <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      <% end %>
  </div>
</div>
