<!DOCTYPE html>
<html>
  <head>
    <title>CareHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- alerts -->
    <%= render 'layouts/alerts' %>
    <!-- header -->
    <header>
      <nav>
        <ul>
          <a href="/">Home</a>
          <a href="/residents">All Residents</a>
          <a href="/rooms">All Rooms</a>
          <a href="/residents/new">Add New Resident</a>
          <a href="/rooms/new">Add New Room</a>
          <!-- user authentication -->
          <% if current_user %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Log In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
